@import '../../variables';

.followerContainer{
    width: 100%;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;

    &__name{
        display: flex;
        flex-direction: column;
        margin: 0 2rem;
    }

    &>:last-child{
        margin-left: auto;
        color: $lightblue;
    }

}