@import '../../variables';

.storySection {
    margin-left: 0.25rem;
    margin-top: 2rem;
    padding-left: 2rem;
    grid-column: 1/8;
    grid-row: 2/3;
    height: 8rem;
    width: 100%;
    box-shadow: 0px 0px 0px 1px #DEDEDE;    
    display: flex;
    flex-direction: row;
    align-items: center;
    &__story{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text{
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
    &>*:not(:first-child){
        margin-left: 2rem;
    }
    @media screen and (max-width:600px) {
        grid-column: 1/-1;
        margin-top: 0.2rem;
    }  
}