@import '../../variables';

.postSection{
    grid-column: 1/8;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    @media screen and (max-width:600px) {
        grid-column: 1/-1;
        margin:0;
    } 
    &>*:not(:first-child){
        margin-top: 2rem;
    }
}