$black : #000;
$lightblue: #00b2f9;
$lightblack: #262626;
$lightgrey: #808080;
$mediumgrey: #535353;
$darkgrey: #4d4d4d;
$darkblue: #0000ee;
$white: #fff;
$storyColor: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);