@import 'variables';

.App {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
}

#container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    display: grid;
    grid-template-columns:1fr repeat(12, minmax(min-content, 10rem)) 1fr;
    grid-template-rows: 7rem auto auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display: none;
    }

    @media screen and (max-width:900px) {
        width: 100%;
    }

    @media screen and (max-width:700px) {
        width: 100%;
        padding: 0 1rem;
    }
    @media screen and (max-width:500px) {
        padding:0;
        margin:0;
        overflow-y: unset;
    }
}